.card-services {
  padding-top: 55px;
  &__image {
    width: 370px;
    height: 294px;
    color: $whiteColor;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__text {
    height: 70px;
    width: 370px;
    background-color: $bottomColor;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.image--one {
  background-image: url("../../images/image1-1x.jpg");
  background-size: cover;
}
.image--two {
  background-image: url("../../images/image2-1x.jpg");
  background-size: cover;
}
.image--three {
  background-image: url("../../images/image3-1x.jpg");
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .image--one {
    background-image: url("../../images/image1-2x.jpg");
    background-size: cover;
  }
  .image--two {
    background-image: url("../../images/image2-2x.jpg");
    background-size: cover;
  }
  .image--three {
    background-image: url("../../images/image3-2x.jpg");
    background-size: cover;
  }
}
