.contact {
  display: flex;
  gap: 50px;
  &__text {
    text-decoration: none;
    text-align: left;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.143;
    color: $letterColor;
    gap: 5px;
    fill: $letterColor;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__text:hover {
    color: $blueColor;
    fill: currentColor;
  }
  &__image {
    display: flex;
    align-items: center;
    gap: 2px;
  }
}
