.container {
  max-width: 900px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: end;
}

.page-header {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.page-header .container {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .contact {
    display: none;
  }
  .menu {
    display: none;
  }
}

.contact .link {
  padding: 10px;
  text-decoration: none;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: end;
  padding-right: 60px;
  justify-content: center;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: $blueColor;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #ffffff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;

  text-decoration: none;
}

.mobile-menu__networks {
  display: flex;
  justify-content: space-between;
  align-content: end;
  padding-top: 64px;
}
.mobile-menu__list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: left;
  letter-spacing: 0.02em;
  padding-top: 50px;
}
.mobile-menu__list .link:hover,
.mobile-menu__list .link:focus {
  color: $blueColor;
}

.networks__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $blueColor;
}
.mobile-menu__contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: $letterColor;
  padding-top: 200px;
}
.networks__link::after {
  background-image: url("../../images/Línea\ 1.jpg");
}

.mobile-menu__contact .link:hover,
.mobile-menu__contact .link:focus {
  color: $blueColor;
  font-size: 34px;
}
