.customers {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  &__title {
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.167;
    padding-top: 58px;
    padding-bottom: 44px;
    font-size: 36px;
  }
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 152px;
  }
  &__image {
    width: 170px;
    height: 81px;
    fill: #afb1b8;
    padding: 14px 32px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__image:hover {
    border: 1px solid $blueColor;
    fill: $blueColor;
  }
}
