.description {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  margin-top: 95px;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    margin-left: 40px;
    max-width: 450px;
    height: 270px;
  }
  &__title {
    text-align: left;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.143;
    padding-top: 30px;
  }
  &__text {
    color: $letterColor;
    text-align: left;
    letter-spacing: 0.03em;
    font-weight: 400;
    line-height: 1.714;
  }
  &__image {
    height: 120px;
    background-color: $beigeColor;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .description__item {
    max-width: 370px;
  }
}
@media (min-width: 769px) {
  .description__item {
    max-width: 270px;
  }
}
