.request {
  color: $whiteColor;
  background-color: $bottomColor;
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 900;
  line-height: 1.364;
  height: 600px;
  margin-left: -4px;
  margin-top: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-image: linear-gradient(to bottom, #2f303a66, #2f303a66),
    url(../../images/bottom.jpg);
}
