.services {
  padding-top: 94px;
  &__title {
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.167;
    font-size: 36px;
  }
  &__list {
    display: flex;
    justify-content: center;
    gap: 23px;
  }
}
