.team {
  background-color: $beigeColor;
  margin-top: 94px;
  align-items: center;

  &__title {
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.167;
    padding-top: 94px;
    font-size: 36px;
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 94px;
    gap: 23px;
  }
}
